<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="Listeners.Iannotationtransformer"></listener>
    </listeners>
    <test name ="Testing" verbose="2" preserve-order="true">
    <classes>
        <class name="Listeners.priority">
        </class>
    </classes>
    </test>
</suite>